.table-main-container{
    //width:900px;
    //width: 90%;
    height:500px;
    margin: 1% auto;
   // background: var(--gradientBlue);
    .table-action-menu.flex{
        max-width: 100%;
        padding: 20px;
        flex-flow:row-reverse;
        button{
            padding: 10px 20px;
            background: var(--ButtonBlue);
            color: var(--whiteColorDeam);
            border-radius: 10px;
            border: none;
            letter-spacing: .5px;
            box-shadow: 2px 2px 4px #4c4c4c;
            margin: 0 5px;

            &:hover{
                transform: scale(1.1);
                transition: .3s ease-in-out;
            }

            .table-menu-icon{
                padding: 0 5px;
            }

           
        }
    }
    table{
        border-spacing: 0;
        width: 100%;
        
        thead{
            
            tr{
                th{
                    padding: 15px;
                    text-align: left;
                    //color: var(--PrimaryColor);
                    letter-spacing: .5px;
                    border-bottom: 2px solid var(--PrimaryColor);
                    //background-color: #7b98bc8a;
                    background: var(--DarkBlue);
                    color: var(--whiteColorDeam);
                    td{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        tbody{
            tr{
                &:nth-child(2n){
                    background: var(--GreyTransparent);
                }
                td{
                    padding: 10px;
                    //max-width: 250px;
                }
                &:hover{
                    background-color: var(--LightBlueTransparent);
                    cursor: pointer;
                }
                &.active{
                    background-color: var(--LightBlueTransparent);
                }
            }
           
        }
    }

    .pagination-continer.flex{
        font-size: 12px;
        color: var(--PrimaryColor);
        padding: 20px;
        //min-width: 300px;
        justify-content: space-between;
        width:auto;
        .show-container{
            min-width: 130px;
            padding: 5px;
            input{
                border-radius: 5px;
                width: 50px;
                height: 23px;
                border: none;
                margin: 0 5%;
                background-color: var(--ButtonBlue);
                color: var(--whiteColorDeam);
                cursor: var(--whiteColorDeam);
            }
        }
        
        .pagination.flex{
            width: fit-content;
            font-size: 13px;

            .table-icon{
                font-size: 17px;
                margin: 0 8px;
            }
        }
    }

}

.loader.table{
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 50% !important;
    margin:0 auto;
    border-top: 4px solid var(--DarkBlue) !important;
}