.nav-main-conatiner.flex{
    width: 250px;
    height: fit-content;
    flex-direction: column;
    position: fixed;
    margin: 100px;
    border: 1px solid var(--GreyTransparent);
    background: var(--GreyTransparent);
    .nav-header.flex{
        width: 100%;
        height: auto;
        justify-content: center;
        border-bottom: 2px dotted var(--GreenColor);
    }

    .links{
        width: 100%;
        height: auto;
        text-align: center;

        li{
            padding: 10px;
            background: var(--GreyTransparent);

            &:hover{
                background: var(--LightBlueTransparent);
            }
        }
    }
}