.content-main-container{
    .FlexForm {
        margin: 0 5%;
        max-height: 500px;
        height: fit-content;
        .form-items{
            flex-direction: column;
            width: 100%;
            
            .form-children{
                display: flex;
                text-align: center;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                label{
                    margin: 10px 10px;
                }
                input{
                    width: 65%;
                    height: 20px;
                }
            }
        }
        .form-button-container {
            width: 100%;
            padding: 5px 30px;
            height: 60px;
            display: flex;
            align-items: center;
            flex-flow: row-reverse;
            button {
                margin:10px 5% !important;
            }
            .loader.schoolCreate {
                margin:0 5%;
                border-top: 4px solid var(--DarkBlue);
            }
        }
    }
}