@import '../root.css';

.login-container.flex{
    width: 900px;
    height: 500px;
    margin: 5% auto;
    background: var(--gradienLightBlue);
    border-radius: 15px 10px 10px 15px;
    box-shadow: 10px 5px 10px #6a686888;
    .right-container{
        background-image: url('../assets/login.jpg');
        filter: blur(.5px);
        width: 65%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #888888;
        box-shadow: 2px 5px 10px #8888;
        border-radius: 50% 8px 15px 60%;
        width:50%;

        .text-field{
            margin: 50px 10px;
            width: fit-content;
            float: right;
            p{
                color: var(--PrimaryColor);
                font-size: 18px;
            }
            .outline.btn{
                background: transparent;
                border: 2px solid var(--PrimaryColor);
                padding: 15px 50px;
                border-radius: 10px;
                color: var(--PrimaryColor);
                font-weight: 500;
                margin: 50px 0px;
                transition: .5s ease-in-out;
                
                &:hover{
                    background: var(--GreenColor);
                    border: 2px solid var(--GreenColor);
                }
            }
        }
    }

    .left-container{
        height: 100%;
        width:50%;
        .title{
            margin: 0 auto;
            width: fit-content;
            margin-bottom: 30px;
            h2{
                color: var(--whiteColorDeam);
                font-weight: 500;
                font-size: 30px;
            }
        }
        .form-container{
            margin: 50px 10px;
            form{
                color: white;
                padding: 5px;
                margin: 0 auto;
                input{
                    border: none;
                    background: var(--whiteColorDeam);
                    outline: none;
                    width: 95%;
                    border-radius: 7px;
                    margin: 5px 5px;
                    height: 30px;
                }
                label{
                    margin: 5px;
                }
                .name-fields.flex{
                    input{
                        width: 90%;
                    }
                }
                button{
                    display: flex;
                    align-items: center;
                    padding: 10px 55px;
                    font-size: 15px;
                    float: right;
                    margin: 30px 20px;
                    border: none;
                    transition: .5s ease-in-out;
                    border-radius: 10px;
                    color: var(--PrimaryColor);
                    font-weight: 500;
                    &:hover{
                        background: var(--GreenColor);
                    }
                }
            }
        }
    }
}