@import '../root.css';
.login-container.flex {
  max-width: 900px;
  height: 500px;
  margin: 5% auto;
  background: var(--gradienLightBlue);
  border-radius: 15px 10px 10px 15px;
  box-shadow: 10px 5px 10px rgba(106, 104, 104, 0.5333333333);
}
.login-container.flex .right-container {
  background-image: url("../assets/login.jpg");
  filter: blur(0.5px);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid var(--GreenColor);
  box-shadow: 2px 5px 10px rgba(28, 28, 28, 0.5333333333);
  border-radius: 50% 8px 15px 60%;
  width: 50%;
}
.login-container.flex .right-container .text-field {
  margin: 50px 10px;
  width: fit-content;
  float: right;
}
.login-container.flex .right-container .text-field p {
  color: var(--PrimaryColor);
  font-size: 18px;
}
.login-container.flex .right-container .text-field .outline.btn {
  background: transparent;
  border: 2px solid var(--PrimaryColor);
  padding: 15px 50px;
  border-radius: 10px;
  color: var(--PrimaryColor);
  font-weight: 500;
  margin: 50px 0px;
  transition: 0.5s ease-in-out;
}
.login-container.flex .right-container .text-field .outline.btn:hover {
  background: var(--GreenColor);
  border: 2px solid var(--GreenColor);
}
.login-container.flex .left-container {
  height: 100%;
  width: 50%;
}
.login-container.flex .left-container .title {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 2px dotted var(--whiteColorDeam);
  border-radius: 0 0 2px 0;
}
.login-container.flex .left-container .title h1 {
  color: var(--whiteColorDeam);
  font-weight: 500;
  font-size: 30px;
}
.login-container.flex .left-container .form-container {
  margin: 50px 10px;
}
.login-container.flex .left-container .form-container form {
  color: white;
  padding: 5px;
  margin: 0 auto;
}
.login-container.flex .left-container .form-container form input {
  border: none;
  background: var(--whiteColorDeam);
  outline: none;
  width: 95%;
  border-radius: 7px;
  margin: 5px 5px;
  height: 30px;
}
.login-container.flex .left-container .form-container form label {
  margin: 5px;
}
.login-container.flex .left-container .form-container form .name-fields.flex input {
  width: 90%;
}
.login-container.flex .left-container .form-container form button {
  /*max-width: 180px;*/
  display: flex;
  align-items: center;
  padding: 10px 55px;
  font-size: 15px;
  float: right;
  margin: 30px 20px;
  border: none;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  color: var(--PrimaryColor);
  font-weight: 500;
}
.login-container.flex .left-container .form-container form button:hover {
  background: var(--GreenColor);
}
.login-container.flex .left-container .form-container span {
  float: right;
  margin: 10px;
}
.login-container.flex .left-container .mobile-nav-to-register.flex {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
.login-container.flex .left-container .mobile-nav-to-register.flex span {
  color: var(--DarkBlue);
  cursor: pointer;
  padding: 5px 10px;
}
.login-container.flex .left-container .mobile-nav-to-register.flex span:hover {
  background: rgba(225, 230, 236, 0.11);
  border-radius: 10px;
}
.login-container.flex .left-container .mobile-nav-to-register.flex p {
  color: var(--whiteColorDeam);
}
@media only screen and (max-width: 905px) {
  .login-container.flex {
    flex-direction: column;
  }
  .login-container.flex .right-container {
    display: none;
  }
  .login-container.flex .left-container {
    width: 95%;
  }
  .login-container.flex .left-container .form-container {
    width: 80%;
    height: 60%;
    margin: 50px auto;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 905px) {
  .login-container.flex .left-container .mobile-nav-to-register.flex {
    display: none;
  }
}

/*# sourceMappingURL=login.css.map */
