@import '../root.css';
.reg-container.flex{
    max-width: 900px;
    height: 500px;
    margin: 5% auto;
    background: var(--gradienLightBlue);
    border-radius: 15px 10px 10px 15px;
    box-shadow: 10px 5px 10px #6a686888;

    .left-container{
        background-image: url('../assets/login.jpg');
        filter: blur(.5px);
        width: 65%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px 40% 60% 15px;
        border: 5px solid var(--GreenColor);
        box-shadow: 5px 5px 8px #1c1c1c88;

        h2{
            color: var(--PrimaryColor);
            font-weight: 400;
            padding: 0 30px;
        }
    }

    .right-container{
        height: 100%;

        .title{
            margin: 0 auto;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
            border-bottom: 2px dotted var(--whiteColorDeam);
            h2{
                color: var(--whiteColorDeam);
                font-weight: 500;
                font-size: 30px;
            }
        }
        .form-container{
            form{
                color: white;
                padding: 5px;
                margin: 0 auto;
                input{
                    border: none;
                    background: var(--whiteColorDeam);
                    outline: none;
                    width: 95%;
                    height: 25px;
                    border-radius: 7px;
                    margin: 5px 5px;
                }
                .InputError{
                    border: 2px solid var(--RedColor);
                }
                
                small{
                    font-size: 12px;
                }
                label{
                    margin: 5px;
                }
                .name-fields.flex{
                    
                    input{
                        width: 90%;
                    }
                }
                button.registerFormSubmit{
                    display: flex;
                    align-items: center;
                    padding: 10px 55px;
                   // font-size: 15px;
                    float: right;
                    margin: 15px 20px;
                    border: none;
                    transition: .5s ease-in-out;
                    border-radius: 10px;
                    color: var(--PrimaryColor);
                    font-weight: 500;
                    max-width: 180px;

                    &:hover{
                        background: var(--GreenColor);
                    }
                }
                .loader.register{
                    float: right;
                    margin: 15px 20px;
                }
            }
        }
    }
    
    @media only screen and (max-width:905px) {
        flex-direction: column;
        
        .left-container{
           display: none;
        }
    }
   
}