form{
    .name-fields.flex{
        justify-content: space-between;
        label,input{
            margin-right: 10px;
        }

    }

    label{
        margin: 15px 0;
        margin-bottom: 5px;
    }
}

.generatedLink.grid{
    
}