form{
    .name-fields.flex{
        justify-content: space-between;
        label,input{
            margin-right: 10px;
        }

    }

    label{
        margin: 15px 0;
        margin-bottom: 5px;
    }

    .loader.createUser{
        border-top:  4px solid var(--DarkBlue) !important;
        margin: 20px auto;
    }

    button.formButton{
        
        float: left;
      
       
        
    }
}
