.content-main-container{
    .SchoolForm {
        margin: 0 5%;
        height: 500px;
        .school-form{
            flex-direction: column;
            width: 100%;
            
            .flex{
                text-align: center;
                justify-content: space-between;
                width: 100%;
                label{
                    margin: 10px 10px;
                }
                input{
                    width: 65%;
                }
            }
        }
        button{
            margin: 20px auto;
            float: right;
        }
        .loader.schoolCreate{
            border-top: 4px solid var(--DarkBlue);
        }
    }
}