.error-main{
    width: fit-content;
    height: fit-content;
    background: var(--RedColor);
    position: fixed;
    top:10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    border-radius: 10px;
    animation: slideIn 1s ease-in-out;
    .error-container{
        text-align: center;
        padding: 15px;
        .icon{
            color:var(--DangerColorSecound);
            margin: 0 10px;
            cursor: auto;
        }
        h4{
            margin: auto 20px;
        }
       
        
        color: var(--whiteColorDeam);
    }

    .close{
        float: right;
        color: var(--whiteColorDeam);
    }
}