@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './root.css';

/*Links*/
a{
  text-decoration: none;
  color: var(--PrimaryColor);
}

li{
  list-style: none;
}

/*fonts*/
p, h1, h2, h3, h4, h5{
  color:var(--PrimaryColor);
  letter-spacing: .5px ;
}

/*General*/

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

input, select, select option{
  font-size: 100%;
  font-family: 'Poppins';
}

input:read-only{
  cursor: default;
  border: none;
  background: #f2f2f2;
  color: black;
}


/*Icons*/
.icon{
  font-size:2rem;
  cursor:pointer;
}
.btn-icon{
  margin: auto 5px;
}
.red{
  color: #ec2929 !important;
}
.grey{
  color: grey;
}
/*containers*/
.school-breaks-container {
  height: auto !important;
}

.special-work-days-container {
  height: auto !important;
}

.table-main-container {
  height: auto !important;
}

.selectContainer{
  height: 90px;
  margin-top: 10px;
  color: initial !important;
  font-family: 'Poppins', 'sans-serif';
  text-align: left !important;
  max-width: 350px;
}
.selectContainer.createUserRoleSelect{
  height: auto !important;
  margin-top: 0 !important;
}
/*Table*/
table tbody tr.addNewTableRow {
  background: none !important;
}
table tbody tr.addNewTableRow:hover {
  background: none !important;
  cursor: default !important;
}
table tbody tr .table-action-icon {
  padding: 10px 0px;
}

table tbody tr td.no-school {
  font-style: italic;
  text-align: center;
  cursor: default;
  background: none;
  user-select: none;
}
table tbody tr td.no-school:hover {
  background: var(--BackgroundColor);
}

.table-icon{
  margin: 0 5px;
  font-size: 15px;
  padding: 7px 9px;
  border-radius: 50%;
  border: none;
  background: none;
  color: var(--whiteColorDeam);
  transition: .3s ease-in-out;
}
.table-icon:hover{
  background: var(--ButtonBlue);
  cursor: pointer;
  
  color: var(--whiteColorDeam);
}
.table-action{
  width:35px;
  height: 35px;
  margin: 0 5px;
  
}
.table-action-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--ButtonBlue);
  transition: .3s;
}
.table-action-icon:hover{
  color: var(--DarkBlue);
  transform: scale(1.1);
}

/*Pagination*/
.paginate-icon{
  color:var(--DarkBlue);
  margin: 0 5px;
  font-size: 18px;
  padding: 7px 9px;
  border-radius: 50%;
  border: none;
  background: none;
  transition: .3s ease-in-out;
}

.paginate-icon:hover{
  background: var(--ButtonBlue);
  cursor: pointer;
  color: var(--whiteColorDeam);
}


/*Button*/

button{
  cursor: pointer;
}
.headerBtn{
  padding: 15px 20px;
  border: 3px solid transparent;
  margin: 0 5px;
  border-radius: 10px;
  background: transparent;
  font-size: 14px;
  color: var(--PrimaryColor);
  letter-spacing: 1px;
  font-weight: 500;
}
.headerBtn:hover{
  border-bottom: 3px solid var(--NewLightBlue);
  border-radius: 0;
  transition: .4s ease-in-out;
}
.headerBtn .logout-icon{
  font-size: 20px;
}
.btn{
  font-family: 'Poppins';
}

.btn.disabled{
  background: #aabbd1d0 !important;
  cursor: auto;
}
.btn.disabled:hover{
  transform: none;
}

.formButton{
  background: var(--ButtonBlue);
  color: var(--whiteColorDeam);
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  /*margin: 15px 5px !important;*/
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  /*float: left;*/
  transition: .3s ease-in-out;
}
.mobileFormButton{
  background: var(--ButtonBlue);
  color: var(--whiteColorDeam);
  padding: 10px;
  border: none;
  border-radius: 50%;
  margin: 2px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: .3s ease-in-out;
}
.mobileFormButton:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
  background: var(--DarkBlue);
}
.mobileFormButtonDisabled{
  background: var(--GreyColor);
  color: var(--whiteColorDeam);
  padding: 10px;
  border: none;
  border-radius: 50%;
  margin: 2px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: .3s ease-in-out;
}
.formButton:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
  background: var(--DarkBlue);
}

.formBtnDisabled{
  background: var(--GreyColor);
  color: var(--DarkBlue);
  font-size: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  /*margin: 15px 5px !important;*/
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: default;
}

.main-btn{
  position: absolute;
  padding: 12px 30px;
  margin: 25px 0;
  border-radius: 5px;
  border: none;
  color: white;
  background: var(--gradientColor);
  cursor: pointer;
  left: auto;
  font-family: 'Poppins', 'sans-serif';
  transition: .4s ease-in-out;
  box-shadow: 2px 1px 1px  black;
}

.main-btn:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
  box-shadow: 2px 1px 1px  black;
}

/*Form*/
form{
  font-family: 'Poppins';
  flex-direction: column;
}
.form-collapse{
   display: flex;
   width: 100%;
 }

@media screen and (max-width: 700px) {
  .form-collapse{
    display: grid;

  }
}
.flexColumnItems{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left !important;
  align-items: unset !important;
}

.fields.flex {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.fields.flex label {
  padding: 10px 0px;
}
.fields.flex input {
  width: 80%;
  margin-bottom: 15px;
}

.formIcon{
  font-size: 1.5rem;
}
form .icon {
  font-size: 20px;
  border-radius: 50%;
  padding: 2px;
}
form .icon:hover {
  color: var(--ButtonBlue);
  transition: 0.3s;
}
form .select-container {
  margin-bottom: 15px;
}
form .user-container {
  width: 100%;
  height: fit-content!important;
}
form .user-container.passwords, form .user-container .roles {
  height: fit-content;
}
form .form-title {
  width: 100%;
  border-bottom: 1px dotted var(--GreenColor);
}
form .form-title h2, form .form-title h3{
  margin-bottom: 0;
}
form .form-title.distance{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  form .form-title.distance{
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  form .form-title.distance{
    width: 80%;
    display: grid;
  }
}

form .fields.flex {
  padding: 10px 0;
}
form .field {
  min-width: 420px;
  max-height: 115px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
form .field label {
  padding: 10px 0;
}
form .field input {
  width: 100%;
  height: 30px;
  transition: 0.1s ease-in-out;
  border: 1px solid var(--GreyColor);
}
form .field input:read-only {
  background: none;
  border: none;
  border-bottom: 1px solid var(--DarkBlue);
}

form .name-fields.flex {
  justify-content: space-between;
  height: 50px;
}
form .name-fields.flex label {
  margin: 0;
}
form .name-fields.flex input{
  width: 100%;
}
form .name-fields.flex .first-name, form .name-fields .last-name{
  width: 50%;
}
form .name-fields .last-name{
  padding: 0 10px;
}
form label {
 /* margin: 15px 0;
  margin-bottom: 5px;*/
  max-width: 150px;
}
form .loader.createUser {
  border-top: 4px solid var(--DarkBlue) !important;
  float: left;
  margin:10px 5% !important;
}
form button.formButton {
  float: left;
}

.formBtnDisabled{
  float: right;
}
.emailPassword-fields.grid {
  padding-top: 10px;
}
.emailPassword-fields.grid label {
  padding-top: 10px;
}

form button.formButton .user-submit-icon {
  font-size: 1.3rem;
  margin: 0 5px;
}

form .roles-container.flex {
  margin: auto auto;
  margin-left: 0;
  padding: 5px;
}

form .roles-container.flex label, form .roles-container.flex input {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
form .roles-container.flex input {
  margin-right: 5px;
}

form .roles-container.flex label {
  user-select: none;
}

.userDetails.btn-container {
  width: 100%;
  height: 60px;
}
.loader.userDetailsLoader {
  border-top: 4px solid var(--DarkBlue) !important;
  margin: 0 auto !important;
  display: flex;
}
.userDetails.btn-container button{
  margin: 0 auto;
  float: unset !important;
}
/*FlexForm*/
.content-main-container .FlexForm {
  margin: 0 5%;
  max-height: 500px;
  height: fit-content;
}
.content-main-container .FlexForm .justification-container{
  min-width: 100%;
  min-height: 120px;
  overflow: auto;
  scroll-behavior: smooth;
  margin: 15px 0;
}
@media screen and (max-width: 700px){
  .content-main-container .FlexForm{
    width: 100%;
    margin: 0 0 !important;
  }
  .content-main-container .FlexForm .form-items{
    width: 80%;
  }
  .content-main-container .FlexForm .form-items.flex{
    width: 80%;
  }
  .content-main-container .FlexForm .form-items .form-children{
    flex-direction: column!important;
    align-items: baseline !important;
  }
  .content-main-container .FlexForm .form-items .form-children label{
    width: 100%;
    text-align: left !important;
  }
  .content-main-container .FlexForm .form-items .form-children input{
    text-align: left !important;
  }
}
.content-main-container .FlexForm .form-items {
  flex-direction: column;
  width: 100%;
}
.content-main-container .FlexForm .form-items .form-children {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /*margin-right:15px;*/
  padding: 5px;
}
@media screen and (min-width: 700px) {
  .content-main-container .FlexForm .form-items .form-children{
    /*padding: 15px !important;*/
  }
}
.content-main-container .FlexForm .form-items .form-children label{
  margin: 0 5px;
  min-width: 15%;
}
.content-main-container .FlexForm .form-items .form-children .flexColumnItems label {
  margin: 10px 0 !important;
}
.content-main-container .FlexForm .form-items .form-children input {
  width: 90%;
  height: 20px;
}
.content-main-container .FlexForm .form-items .form-children textarea{
  width: 100%;
  height: 150px;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  .content-main-container .FlexForm .form-items .form-children textarea{
    width:90% !important
  }
  .content-main-container .FlexForm .justification-container{
    min-width: 0 !important;
    width: 90% !important;
  }
}
.content-main-container .FlexForm .form-button-container {
  width: 100%;
  padding: 5px 30px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px){
  .content-main-container .FlexForm .form-button-container {
    width: 60% !important;
    min-height: 300px;
    margin: 20px 0;
    padding: 0 !important;
    flex-direction: column !important;
  }
}
.content-main-container .FlexForm .form-button-container button {
  margin: 10px 5% !important;
}
.content-main-container .FlexForm .form-button-container .loader.schoolCreate {
  margin: 0 5%;
  border-top: 4px solid var(--DarkBlue);
}

/*Title*/

.formTitle{
  width: 100%;
}

.formTitle h2{
  margin: 20px auto;
  text-align: center;
  letter-spacing: 1px;
}

.title h3{
  color: var(--whiteColorDeam);
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 7px;
}

.courseTitle{
  justify-content: space-between;
}

/*Loader*/

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--whiteColorDeam);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--GreenColor);
  border-left: 4px solid transparent;
}

.loader.schoolDetails{
  margin: 20px;
  float: right;
  border-top: 4px solid var(--DarkBlue);
}


.content-main-container{
  /*width: 900px;*/
  width: 80%;
  height: 100%;
  margin: 2% auto;
  color: var(--PrimaryColor);
}
@media screen and (max-width: 1200px){
  .content-main-container{
    margin: 2% 0;
    padding: 0 10px;
    width: 100%;
  }
}
/*Popup*/

.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(42, 50, 51, 0.66);
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}
.popupWhite{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(246, 249, 250);
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}

/*schoolYear component*/


.school-year-details-popup-form.flex {
  max-width: 500px;
  height: 480px;
  text-align: left;
  flex-direction: column;
  margin: 5% auto;
  border-radius: 5%;
  background: var(--whiteColorDeam);
}
.school-year-details-popup-form.flex .closeModal {
  width: 100%;
}
.school-year-details-popup-form.flex .closeModal .closeModalIcon {
  float: right;
  font-size: 2.1rem;
  color: var(--DarkBlue);
  margin: 5px 20px;
}
.closeModal .closeModalIcon {
  float: right;
  font-size: 2.1rem;
  color: var(--DarkBlue);
  margin: 5px 10px;
  transition: .3s ease-in-out;
}
.closeModal .closeModalIcon:hover {
  color: var(--ButtonBlue);
  cursor: pointer;
}
.closeModalWhite{
  width: 100%;
  height: 40px;
}
.closeModalWhite .closeModalIcon{
  float: right;
  font-size: 2.1rem;
  color: var(--whiteColorDeam);
  margin: 5px 10px;
  transition: .3s ease-in-out;
}
.closeModalWhite .closeModalIcon:hover{
  color: #e81919;
  cursor: pointer;
}
.formTitle {
  width: 100%;
}
.school-year-details-popup-form.flex .closeModal .closeModalIcon:hover {
  color: var(--ButtonBlue);
  cursor: pointer;
}
.school-year-details-popup-form.flex .formTitle {
  width: 100%;
}
.school-year-details-popup-form.flex .school-year-details-popup.flex {
  flex-direction: column;
  width: 80%;
  align-items: end;
  margin: 10px 0;
}
.school-year-details-popup-form.flex .school-year-details-popup.flex .school-year-details-children.flex{
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.school-year-details-popup-form.flex .school-year-details-popup.flex label {
  margin: 10px 5px;
}
.school-year-details-popup-form.flex .school-year-details-popup.flex input {
  width: 70%;
}
.addSchoolYear .select{
  width: 70% !important;
  /*height: 31px;*/
}
.addSchoolYear-main-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(42, 50, 51, 0.66);
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}
.addSchoolYear-main-container .addSchoolYear-form {
  max-width: 500px;
  height: 480px;
  text-align: left;
  flex-direction: column;
  margin: 5% auto;
  border-radius: 5%;
  background: var(--whiteColorDeam);
}
.addSchoolYear-main-container .addSchoolYear-form .addSchoolYear {
  flex-direction: column;
  width: fit-content;
  align-items: end;
  margin: 5% 20px;
  margin-bottom: 10px;
}
.addSchoolYear-main-container .addSchoolYear-form .addSchoolYear .add-school-year{
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.addSchoolYear-main-container .addSchoolYear-form .addSchoolYear label {
  margin: 10px 5px;
}
.addSchoolYear-main-container .addSchoolYear-form .addSchoolYear input {
  width: 70%;
}
.addSchoolYear-main-container .addSchoolYear-form .closeModal {
  width: 100%;
}
.addSchoolYear-main-container .addSchoolYear-form .closeModal .closeModalIcon {
  float: right;
  font-size: 2.1rem;
  color: var(--DarkBlue);
  margin: 5px 20px;
}
.addSchoolYear-main-container .addSchoolYear-form .closeModal .closeModalIcon:hover {
  color: var(--ButtonBlue);
  cursor: pointer;
}

.school-year-infos-select{
  width: 65%;
  height: 31px;
  text-align: left;
}
/*Tile containers*/
.button-main-container.flex {
  width: 100%;
  height: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.button-main-container.flex .button-container {
  width: 150px;
  height: auto;
  display: grid;
  align-items: center;
  text-align: center;
  margin: 5px 15px;
}
.button-main-container.flex .button-container a {
  color: var(--DarkBlue);
}
.button-main-container.flex .button-container .icon-container {
  border-radius: 10px;
  border: 3px solid var(--DarkBlue);
  height: auto;
  width: auto;
  transition: 0.3s ease-in-out;
}
.button-main-container.flex .button-container .icon-container .icon {
  padding: 30%;
  font-size: 3rem;
  transition: 0.3s ease-in-out;
}
.button-main-container.flex .button-container .icon-container:hover {
  color: var(--ButtonBlue);
  border-color: var(--ButtonBlue);
}
.button-main-container.flex .button-container .icon-container:hover .icon {
  transform: scale(1.1);
}
.button-main-container.flex .button-container .icon-text h3 {
  font-weight: 500;
}

/*Child compoennt*/

.connectChild{
  width:65% !important;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .connectChild{
    width:65% !important;
    margin: 0 5px  !important;
  }
}

.connectButton{
  margin: 15px auto !important;
  float:none !important;
}
.loader.connectButtonLoader{
  margin: 15px 50% !important;
  border-top: 4px solid var(--DarkBlue) !important;
}

/*Label Component*/
.selector-input{
  height: 25px !important;
  background: white;
  padding: 5px;
  overflow: auto;
  border-radius: 5px;
}
.label-close-button-container{
  width: auto;
  height: 40px;
}
.label-close-button-container .closeModalIcon{
  margin: 5px 25px;
}
.label-main{
  max-width: 800px;
  height:calc(100% - 100px);
  min-height: 600px;
  margin: 0 auto;
  background: var(--whiteColorDeam);
  border-radius: 10px;
  border: 2px solid var(--DarkBlue);
  box-shadow: 2px 2px 8px rgb(26, 26, 26);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}
.label-header{
  padding: 3px;
}
.label-header h2{
  border-bottom: 3px dotted var(--GreenColor);
  padding-bottom: 5px;
  text-align: center;
  letter-spacing: 1px;
  margin-top:0;
}
.label-search{
  height: 50px;
  padding: 5px 30px;
}
@media screen and (max-width:700px){
  .label-search .desktopBtn button {
    display: none;
  }
}
@media screen and (min-width:700px){
  .label-search .mobileBtn{
    display: none;
  }
}
.label-search input{
  width: 70%;
  margin: 0 10px;
}
.label-search button{

}
.label-results{
  width: 90%;
  height: 50%;
  margin: 15px auto;
  background-color: var(--GreyTransparent);
  overflow: auto;
}
@media screen and (max-width: 700px){
  .label-results{
    margin: 15px 5px !important;
  }
}
.label-result{
  border: 2px solid var(--GreyColor);
  width: auto !important;
  flex-wrap: wrap;
  justify-content: space-between !important;
  padding: 0 60px;
  margin: 5px 5px;
  border-radius: 5px;
}
.label-result:hover{
  border: 2px solid var(--ButtonBlue);
  cursor: pointer;
}
.label-result .label-action-icon{
  margin: auto 15px;
  font-size: 22px;
}
.label-success{
  color: var(--GreenColor);
}
.label-action-buttons{
  justify-content: space-between !important;
  margin: auto 10px;
  height: auto;
  width: auto !important;
}
.label-select-button{
  background: var(--ButtonBlue);
  color: var(--whiteColorDeam);
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  margin: 15px 25px !important;
  max-width: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  float: left;
  transition: .3s ease-in-out;
}
.loader.add-label{
  border-top: 4px solid var(--DarkBlue) !important;
  margin:5% 45%;
}
.label-missing{
  border: 2px solid var(--RedColor);
  cursor: pointer;
}
.label-missing:hover{
  border: 2px solid var(--GreenColor);
  cursor: pointer;
}

.attach:hover{
  cursor: auto;
  border: 2px solid var(--RedColor);
}

/*Label Selector*/

.selector-main{
  /*width: 66%;*/
  height: fit-content;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 700px) {
  .selector-main{
    display: grid;
    width: 95%;
  }

  .selector-icon{
    padding: 5px 0;
  }

}
.selector-main .selector-input{
  width:95% !important;
  border: 1px solid grey;
}
.selector-icon{
  margin: 0 10px;
  font-size: 23px;
  color: var(--GreenColor);
  cursor: pointer;
}
.label-icon{
  font-size: 15px;
  transition: .3s ease-in-out;
}
.label-icon.red:hover{
  transform: scale(1.2);
  cursor: pointer;
}
/*Search*/

.searchCourse{
  height: auto;
}

/*createUserRole*/
.createUserRole-main{
  width: 75%;
  height: fit-content;
  /*background-color: rgb(44,96,128);*/
  /*background: linear-gradient(145deg, rgb(147, 178, 193), #32729f, #422863);*/
  background: #074b6c;
  color: white;
  border-radius: 10px;
  padding: 50px;
  margin: 35px auto;
  box-shadow: 1px 1px 6px #4eadbc;
  border: 1px solid var(--LightBlue);
  vertical-align: center ;
  transform: translateY(25%);
}
.createUserRole-main .FlexForm{
  margin: 0 10% !important;
}
@media screen and (max-width: 870px) {
  .createUserRole-main .FlexForm .form-children{
    flex-direction: column;
  }
}
.createUserRole-main .FlexForm .form-children{
  border-bottom: 3px dotted var(--LightBlue);
}
.createUserRole-main .title h2{
  color: white;
  text-align: center;
  margin-top: 0;
}

/*React Select*/
.select-componentFull{
  width: 100%;
  color: var(--DarkBlue);
}
.select-component90{
  width: 90%;
  color: var(--DarkBlue);
}

.select-component{
  width: 80%;
}
.select-component65{
  width: 65%;
}
.select-component50{
  width: 50%;
}
.multi-select-react-flags ul input{
  width: 95% !important;
  height: 30px !important;
}
.multi-select-react-flags button{
  background: white;
}
.multi-select-react-flags button span{
  overflow: hidden;
  text-overflow: ellipsis;
}
.selected-languages{
  background: transparent;
  display: flex;
  padding: 5px 0;
  flex-wrap: wrap;
}
.flag{
  padding: 5px 10px;
  background: rgba(44, 26, 202, 0.63);
  border-radius: 50px;
  margin: 2px 2px;
  color: white;
}
.remove-flag{
  color: #ed4444;
  padding:0 2px;
  cursor: pointer;
}
.multi-select-react-flags{
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 15px 0;
}
.component-error-message{
  background: var(--RedColor);
  padding: 15px;
  border-radius:10px;
  display:flex;
  flex-direction: column;
}
@media screen and (max-width: 700px){
  .component-error-message {
    flex-direction: column;
    width: 80%;
  }
}
.component-error-message .icon{
  color: var(--DangerColor);
  margin: 0 auto;
}
.component-error-message h2{
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

/*CreateCourse*/
.courseCreate{
  height: 100%;
  margin: 0 auto;
}
.courseCreate .form-children{
  padding: 10px 0 !important;
}
.courseCreate .form-button-container{
  padding: 20px 0 !important;
}
.courseCreate .course-lng-name{
  display: flex;
  align-items: center;
  /*width: 65%;*/
}
.courseCreate .course-lng-name input{
  margin: 0 10px;
}
.courseCreate .course-lng-name button{
  width: 100% !important;
}
.courseCreate .course-lng-name ul input{
  width: 95% !important;
  height: 30px !important;
}
@media screen and (max-width: 700px){
  .courseCreate .course-lng-name {
    flex-direction: column;
    align-items: unset !important;
    width: 100% !important;
  }
  .courseCreate .course-lng-name input{
    width: 65% !important;
    margin: 10px 0 !important;
  }
  .courseCreate .course-lng-name .selector-icon{
    margin: 10px !important;
  }
}

/*ErrorBoundary*/
.boundary-back-container{
  width: 100%;
  text-align: left;
}
.boundary-back-container .icon{
  margin: 5px;
  padding: 10px;
  color: var(--PrimaryColor);
  transition: .3s ease-in-out;
}
.boundary-back-container .icon:hover{
  transform: scale(1.1);
}
.boundary-main-container{
  width: 100%;
  text-align: center;
  display: flex;
  margin: 10px;
}
.boundary-main-container .error-message-container{
  width: 50%;
  text-align: left;
  padding: 20px;
}
.boundary-main-container .error-message-container h3{
  width: 90%;
  margin: 0 auto;
}
.boundary-main-container .error-boundary-img-container{
  width: 50%;
  height: 100%;
}

.boundary-main-container .error-boundary-img-container img{
  width: 60%;
  height: 30%;
  background-image: url("/public/error-boundary-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius:30px;
  border: 2px dashed red;
}


@media screen and (max-width: 700px){
  .boundary-main-container{
    display: unset;
    width: 100%;
    text-align: center;
  }
  .boundary-main-container .error-boundary-img-container{
    width: auto;
  }
  .boundary-main-container .error-message-container{
    text-align: center !important;
    width: auto !important;
    padding: 10px;
  }
}

/*CourseProfile*/
.content-main-container .course-titles{
  width: 100%;
}
.content-main-container .course-titles h3{
  text-align: center;
  margin: 5px;
}
.content-main-container .course-titles .course-name{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content:center;
}
.content-main-container .course-titles .course-name h3{
  width:100%;
}
.content-main-container .course-profile-main{
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(76, 150, 232, 0.66);
  border-radius: 10px;
  border:1px solid var(--DarkBlue);
  box-shadow:5px 8px 7px #888888
}
.content-main-container .course-profile-main.childCourseProfileMain{
  background-color: #cef4d4;
  margin-bottom: 25px;
}
.content-main-container .course-profile-main .profile-png{
  width: 35%;
  height: auto;
  background-color: #7b98bc;
  background-image: url("/public/course_profile_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px dotted var(--DarkBlue);
  border-radius:  10px 50% 50% 10px;
}
.content-main-container .course-profile-main .profile-png.childCourseProfilePNG{
  background-color: var(--GreenColor);
}
@media screen and (max-width: 750px) {
  .content-main-container .course-profile-main .profile-png{
    display: none;
  }
  .content-main-container .course-profile-main .profile-data{
    width: auto !important;
    margin: 0 auto;
  }
}
.content-main-container .course-profile-main .profile-data{
  width: 70%;
  padding: 10px;
}
.content-main-container .course-profile-main .profile-data .profile-titles{
  width: 100%;
  overflow: auto;
}
@media screen and (max-width: 500px){
  .content-main-container .course-profile-main{
    width: 95% !important;
  }
  .content-main-container .course-titles .course-name{
    display: flex !important;
    flex-direction: column !important;
  }
  .content-main-container .course-profile-main .profile-data .FlexForm .form-items .form-children.courseProfile-form-children label{
    width: auto;
    padding: 10px;
    margin: 10px 0 !important;
  }
  .content-main-container .course-profile-main .profile-data .FlexForm .form-items .form-children.courseProfile-form-children .address-container span{
    width: 100%;
    flex-direction: column;
    margin: 12px;
  }
}
.content-main-container .course-profile-main .profile-data h4{
  margin: 12px;
}
.content-main-container .course-profile-main .profile-data .FlexForm .form-items .form-children.courseProfile-form-children{
  padding: 0 !important;
  border-bottom:2px dotted white;
}
.content-main-container .course-profile-main .profile-data .FlexForm .form-items .form-children.courseProfile-form-children h4{
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-main-container .course-profile-main .profile-data .FlexForm .form-items .form-children.courseProfile-form-children .address-container{
  margin:12px;
}
.content-main-container .course-profile-main .profile-data .FlexForm .form-items .form-children.courseProfile-form-children .address-container span{
  padding-right: 10px;
  font-weight: bold;
}

@media screen and (min-width: 1250px) {
  .content-main-container .course-profile-main{
    min-height: 600px;
  }
  .content-main-container .course-profile-main .profile-data{
    margin: 15px auto !important;
  }
}
.content-main-container .child-course-details{
  width: 100%;
  min-height: 150px;
  max-height: 550px;
  margin: auto;
  overflow: scroll;
  padding: 15px 0;
  border-top: 2px dotted var(--DarkBlue);
}
.content-main-container .child-course-details .table-main-container table tbody tr:hover{
  cursor: auto !important;
}

/*MessageDetails*/

.messageDetails-main-container{
  width: 80%;
  margin: 0 auto;
  border: 2px solid var(--DarkBlue);
  border-radius: 5px;
}

.messageDetails-main-container .message-header-container{
  width: 100%;
  border-bottom: 2px solid var(--DarkBlue);
}

.messageDetails-main-container .message-header-container .message-title{
  text-align: center;
  font-size: 14px !important;
}

.messageDetails-main-container .message-body{
  width: 100%;
  background-color: rgba(183, 191, 191, 0.35);
  max-height: 500px;
  overflow: auto;
}

.messageDetails-main-container .message-body .message-content-container{
  width: 100%;
  max-height: 200px;
  display: flex;
}

.messageDetails-main-container .message-body .message-content-container .avatar{
  width: 50px;
  padding: 5px;
}

.messageDetails-main-container .message-body .message-content-container .avatar h4{
  background: var(--ButtonBlue);
  color: white;
  padding:10px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.messageDetails-main-container .message-body .message-content-container .content{
  width: 100%;
  padding: 10px;
  overflow: auto;
}
.messageDetails-main-container .message-body .message-content-container .content p{
  font-weight: normal;
  margin: 0;
}
.messageDetails-main-container .message-body .message-content-container.reverse{
  flex-direction: row-reverse;
  text-align: right;
}

.messageDetails-main-container .message-input{
  width: 100%;
  display: flex;
}
.messageDetails-main-container .message-input input{
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}
.messageDetails-main-container .message-input .message-icon-container{
  width:5%;
  padding: 10px;
  text-align: center;
}
.messageDetails-main-container .message-input .message-icon{
  font-size: 20px;
  transition: .2s ease-in-out;
}
.messageDetails-main-container .message-input .message-icon:hover{
  color: var(--ButtonBlue);
  transform: scale(1.2);
  cursor: pointer;
}
.messageDetails-main-container .message-input .message-icon-disabled{
  color: grey;
  font-size: 20px;
}
.addressee-selector-container{
  width: 50%;
  height: 200px;
  margin: 0 auto;
}
.addressee-selector-container .addressee-child{
  margin: 15px 0;
}