@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './root.css';

a{
  text-decoration: none;
  color: var(--PrimaryColor);
}

li{
  list-style: none;
}
/*fonts*/
p, h1, h2, h3, h4, h5{
  color:var(--PrimaryColor);
  letter-spacing: .5px ;
}
/*container*/

.icon{
  font-size:2rem;
  cursor:pointer;
}
.btn-icon{
  margin: auto 5px;
}
.table-icon{
  margin: 0 5px;
  font-size: 15px;
  padding: 7px 9px;
  border-radius: 50%;
  border: none;
  background: none;
  color: var(--whiteColorDeam);
  transition: .3s ease-in-out;
}
.table-icon:hover{
  background: var(--ButtonBlue);
  cursor: pointer;
  
  color: var(--whiteColorDeam);
}
.paginate-icon{
  color:var(--DarkBlue);
  margin: 0 5px;
  font-size: 18px;
  padding: 7px 9px;
  border-radius: 50%;
  border: none;
  background: none;
  transition: .3s ease-in-out;
}

.paginate-icon:hover{
  background: var(--ButtonBlue);
  cursor: pointer;
  color: var(--whiteColorDeam);
}
.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}
button{
  cursor: pointer;
}
.headerBtn{
  padding: 15px 20px;
  border: 3px solid transparent;
  margin: 0 5px;
  border-radius: 10px;
  background: transparent;
  font-size: 14px;
  color: var(--PrimaryColor);
  letter-spacing: 1px;
  font-weight: 500;
}
.headerBtn:hover{
  border-bottom: 3px solid var(--GreenColor);
  border-radius: 0;
  transition: .4s ease-in-out;
}

.btn{
  font-family: 'Poppins';
}

.btn.disabled{
  background: #aabbd1d0 !important;
  cursor: auto;
}
.formButton{
  background: var(--ButtonBlue);
  color: var(--whiteColorDeam);
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  margin: 15px auto;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  /*float: left;*/
  transition: .3s ease-in-out;
}

.formButton:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
  background: var(--DarkBlue);
}
input{
  font-size: 100%;
  font-family: 'Poppins';
}

.main-btn{
  position: absolute;
  padding: 12px 30px;
  margin: 25px 0;
  border-radius: 5px;
  border: none;
  color: white;
  background: var(--gradientColor);
  cursor: pointer;
  left: auto;
  font-family: 'Poppins', 'sans-serif';
  transition: .4s ease-in-out;
  box-shadow: 2px 1px 1px  black;
}

.main-btn:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
  box-shadow: 2px 1px 1px  black;
}

form{
  font-family: 'Poppins';
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--whiteColorDeam);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--GreenColor);
  border-left: 4px solid transparent;
}

input:read-only{
  cursor: default;
  border: none;
}

.content-main-container{
  width: 900px;
  height: fit-content;
  margin: 2% auto;
  color: var(--PrimaryColor);
}