table{
    tbody{
        tr{
            &.addNewTableRow{
                background: none !important;
                &:hover{
                    background: none !important;
                    cursor: default !important;
                }
            }
            .table-action-icon{
                padding: 10px 0px;
                
            }
            
           td{
            &.no-school{
              font-style: italic;
              text-align: center;
              cursor: default;
              background: none;
              user-select: none;
                &:hover{
                    background: var(--BackgroundColor);
                }
                
            }
           }
            
            
            
            
        }
    }
}